
.playerView-container {
  background-image: url('../../../public/overlay/PlayerView.png'); /* Relative to the public/ folder */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;

  .round-container {
    display: flex;
    position: fixed;
    left: 450px;
    width: 810px;
    margin-top: 10px;


    .round-text {
    font-size: 5rem;
    color: white;
    align-self: center;
    }
  }
}